html, body {
    margin: 0;
    padding: 0;
    background: #121212;
}

body * {
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 80px 0;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), 
                url('/images/andre-tan-THJJRUhNlEc2-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header h1 {
    margin: 0;
    color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    padding: 0 20px;
    margin: 0 auto;
}

header a {
    color: #fff;
    letter-spacing: .03em;
    text-decoration: none;
    margin-top: 8px;
}

@media screen and (min-width:1200px) {
    header {
        padding: 130px 0;
    }
}